<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>AI Writter</title>

    <!--====== Favicon Icon ======-->
    

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/css/bootstrap.min.css">

    <!--====== Aos css ======-->
    <link rel="stylesheet" href="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/css/aos.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/css/LineIcons.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/css/style.css">


</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navbar-area navbar-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img width="50px" height="50px" src="https://github.com/pranavkdileep/my-App-Store/raw/main/images/20220417_191007.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFive" aria-controls="navbarFive" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarFive">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#features">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#pricing">Pricing </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#team">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">contact</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-btn rounded-buttons d-none d-sm-inline-block">
                                <a class="main-btn rounded-one" href="/app">Start NOW</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>

        <div id="home" class="header-content-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="header-content text-center">
                            <h3 class="header-title">AI Writter</h3>
                            <p class="text">Ai Writter is an AI powered article generating tool. It helps you to generate articles in just a few seconds with copy/paste. You can create articles for your blog or article sites and other purposes. It's super-fast and no plagiarism guaranteed, it generates articles from scratch. The content is high quality, so you won't have to worry about Google penalizing your site for low quality content.</p>
                            <div class="header-newslatter">
                                <form action="/app">
                                    <i class="lni-envelope"></i>
                                    <input type="text" placeholder="john@email.com">

                                    <div class="header-btn rounded-buttons">
                                        <button class="main-btn rounded-three">JOIN NOW</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-image">
                <img src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/images/header.png" alt="Header">
            </div>
        </div> <!-- header content area -->
    </header>

    <!--====== HEADER PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->

        
    <section id="team" class="team-area gray-bg pt-90 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Meet The Team</h3>
                        <!-- <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p> -->
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-team text-center mt-30">
                        <div class="team-image">
                            <img src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/images/team-1.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h4 class="name"><a href="#">PRANAV K DILEEP</a></h4>
                            <span class="sub-title">Founder</span>
                            <ul class="social">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- single team -->
                </div>
                
                 <!-- single team -->
                </div>
                
                <!-- single team -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TEAM ENDS ======-->
    
    <!--====== CLIENT LOGO PART START ======-->

    

    <!--====== CLIENT LOGO PART ENDS ======-->
    
    <!--====== CONTACT ONE PART START ======-->

    <section id="contact" class="contact-area gray-bg pt-50 p-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mt-45">
                        <h3 class="title">Get in touch</h3>
                    </div>
                    <div class="contact-form form-style-four mt-15">
                        <form id="contact-form" action="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/contact.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-input mt-15">
                                        <label>Full Name</label>
                                        <div class="input-items default">
                                            <i class="lni-user"></i>
                                            <input type="text" name="name" placeholder="Pranav Dileep">
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input mt-15">
                                        <label>Email Address</label>
                                        <div class="input-items default">
                                            <i class="lni-envelope"></i>
                                            <input type="text" name="email" placeholder="admin@gmail.com">
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input mt-15">
                                        <label>Phone Number</label>
                                        <div class="input-items default">
                                            <i class="lni-phone-handset"></i>
                                            <input type="text" name="number" placeholder="01234567890">
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input mt-15">
                                        <label>Subject</label>
                                        <div class="input-items default">
                                            <i class="lni-bubble"></i>
                                            <input type="text" name="subject" placeholder="Type here">
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                                <div class="col-md-12">
                                    <div class="form-input mt-15">
                                        <label>Your Message</label>
                                        <div class="input-items default">
                                            <i class="lni-pencil-alt"></i>
                                            <textarea name="message" placeholder="Type your message here"></textarea>
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="single-form pt-25">
                                        <div class="input-form rounded-buttons">
                                            <button class="main-btn rounded-three" type="submit">SEND MESSAGE</button>
                                        </div>
                                    </div> <!-- single form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- contact form -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                     <div class="section-title mt-45 pb-20">
                        <h3 class="title">Contact Information</h3>
                    </div>
                    <div class="contact-info">
                        <ul class="info">
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-map-marker"></i>
                                    </div>
                                    <div class="info-content">
                                        <p class="text">Level 13, 2 Elizabeth St, Melbourne, Victoria 3000, Australia</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-phone-handset"></i> 
                                    </div>
                                    <div class="info-content">
                                        <p class="text">+61 (8) 8234 3555</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-phone"></i>
                                    </div>
                                    <div class="info-content">
                                        <p class="text">+61 (8) 8234 3555</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                        <p class="text">admin@techbindy.top</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                        <ul class="social mt-30">
                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                        </ul>
                    </div> <!-- contact-info -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CONTACT ONE PART ENDS ======-->
    
    <!--====== FOOTER FIVE PART START ======-->

    <footer id="footer" class="footer-area footer-bark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="footer-logo text-center">
                        <a class="mt-30" href="index.html"><img src="https://github.com/pranavkdileep/my-App-Store/raw/main/images/20220417_191007.png" alt="Logo" width="150px" height="150px"></a>
                    </div> <!-- footer logo -->
                    <ul class="social text-center mt-60">
                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                        <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                    </ul> <!-- social -->
                    <div class="footer-support text-center">
                        <span class="number"></span>
                        <span class="mail">support@techbundy.top</span>
                    </div>
                    
                    <div class="copyright text-center mt-35">
                        <p class="text">Powered by <a rel="nofollow" href="https://pranavkdileep.eu.org/">PRANAVKDILLEP</a></p>
                    </div> <!--  copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </footer>

    <!--====== FOOTER FIVE PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->   







    <!--====== jquery js ======-->
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/bootstrap.min.js"></script>
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/popper.min.js"></script>


    <!--====== Scrolling Nav js ======-->
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/jquery.easing.min.js"></script>
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/scrolling-nav.js"></script>

    <!--====== Main js ======-->
    <script src="https://pranavkdileep.eu.org/Ai%20Writter/templates/assets/js/main.js"></script>

</body>

</html>
